

.input{
    width: 10%;
    background: #252527;
    color: white;
    border: 1px solid whitesmoke;
    padding: 7px;
    margin: 2px 0;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
.input:focus{
    border: none;
    transition: all 0.4s ease-in-out 0s;
}
.input:hover{
    background: dimgrey;
}

